@charset "UTF-8";
/* Body */
* {
    font-family: "Roboto", "Noto Sans JP", "Arial", YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
}
a {
    cursor: pointer;
}
body {
    margin: 0;
    width: 100%;
}
footer, header {
    display: table;
    position: relative;
    width: 100%;
}
/** Header **/
header {
    box-shadow: 0 0.125rem 0.25rem #000;
    margin-bottom: 5rem;
}
.logo {
    margin: auto;
    padding: 1rem;
    width: 50%;
}
/** Footer **/
footer {
    box-shadow: 0 -0.125rem 0.25rem #000;
    margin-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}
footer, footer a {
    color: #888;
}
footer a:hover {
    opacity: 0.5;
}
footer li {
    display: inline;
    font-size: 0.75rem;
    list-style: none;
    padding: 0 0.5rem;
}
footer ul {
    padding: 0;
}
small {
    font-weight: bold;
}

@media screen and (min-width: 481px) {
    .logo {
        width: 25%;
    }
}
